.publisher {
  width: 85%;
}

table {
  background-color: #f9f9f9;
  margin: calc((4 * var(--bmin) * 3) / 2) calc(5 * var(--bmin));
  font-size: calc((60 / 100) * 4 * var(--bmin));
}

table tr td {
  padding: 0 calc((4 * var(--bmin) * 1.5) / 2);
}

table tr:nth-child(odd) td {
  background: #ffffff;
}

/* Dark mode (or light) depending on requirement. */
@media screen and (prefers-color-scheme: dark) {
  table {
    color: #fff;
    background-color: #393939;
  }

  table tr:nth-child(odd) td {
    background-color: #555;
  }
}

ul.seal {
  margin: calc(4 * var(--bmin)) 0 0 calc(4 * var(--bmin));
  padding: 0;
  list-style: none;
}

ul.seal li {
  list-style: none;
}