/* Page 1: Default cover face. */
.face {
  width: calc(100 * var(--bmin));
  height: calc(100 * var(--bmax));
  border: calc(2 * var(--bmin)) solid #262626;
  background-color: #474747;
  border-radius: calc(0.3 * var(--bmin)) calc(1.2 * var(--bmin)) calc(1.2 * var(--bmin)) calc(0.3 * var(--bmin));
  box-shadow: calc(-0.5 * var(--bmin)) calc(0.5 * var(--bmin)) 0 #585656 inset;
  position: relative;
}
.face:before {
  position: absolute;
  top: 0;
  left: calc(5 * var(--bmin));
  height: 100%;
  width: calc(1 * var(--bmin));
  border-left: calc(0.5 * var(--bmin)) solid #585656;
  box-shadow: calc(-0.5 * var(--bmin)) calc(0.5 * var(--bmin)) 0 #262626 inset;
  content: " ";
  display: block;
}
.title {
  background-color: #eee;
  width: 100%;
  border-top: calc(2 * var(--bmin)) solid #262626;
  border-bottom: calc(2 * var(--bmin)) solid #262626;
  line-height: 1.25;
  height: calc(40 * var(--bmax));
  top: calc(43 * var(--bmax));
  position: relative;
}
.title h1,
.title h2 {
  color: black;
}
.title:before {
  position: absolute;
  top: 0;
  left: calc(5 * var(--bmin));
  height: 100%;
  width: var(--bmin);
  background: #aaa;
  border-left: calc(0.5 * var(--bmin)) solid #585656;
  box-shadow: calc(-0.5 * var(--bmin)) calc(0.5 * var(--bmin)) 0 #262626 inset;
  content: " ";
  display: block;
}
.text-safe-region {
  left: calc(2.5 * var(--bmin));
  width: calc(91 * var(--bmin));
  height: auto;
  position: relative;
}
.text-safe-region h1 {
  font-size: calc(91 * var(--bmin) / 15);
}
.text-safe-region h2 {
  font-size: calc(91 * var(--bmin) / 20);
}